---
layout: default
title: 연도별 기록
permalink: /archive/
---

<h1>연도별 기록</h1>

{% assign all_years = "" | split: "" %}
{% for post in site.posts %}
  {% assign post_year = post.date | date: "%Y" %}
  {% unless all_years contains post_year %}
    {% assign all_years = all_years | push: post_year %}
  {% endunless %}
{% endfor %}
{% assign all_years = all_years | sort | reverse %}

<ul>
  {% for year in all_years %}
    <li><a href="{{ '/' | append: year | append: '/' | relative_url }}">{{ year }}년</a></li>
  {% endfor %}
</ul>
