<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}

    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- unless page_titles == empty %}
      <nav >
        <div class="trigger">
          <a class="page-link" href="{{ '/categories/' | relative_url }}">카테고리</a>
        </div>
      </nav>
    {%- endunless %}
  </div>
</header>
