<header class="site-header">
  <div class="wrapper" style='display: flex; justify-content: space-between; align-items: center; max-width: none; width: 100%;'>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}

    <a class="site-title" rel="author" href="{{ '/' | relative_url }}" style="display: flex; align-items: center; gap: 8px;">
      <img src="{{ '/bi.svg' | relative_url }}" alt="logo" style="width: 28px; height: 28px;">
      {{ site.title | escape }}
    </a>

    {%- unless page_titles == empty %}
      <nav style="margin-left: auto;">
        <div class="trigger" >
          <a class="page-link" href="{{ '/categories/' | relative_url }}">카테고리</a>
        </div>
      </nav>
    {%- endunless %}
  </div>
</header>