/* @font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
    font-family: 'DOSIyagiMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
  font-family: 'DOSGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'DOSGothic', 'DOSIyagiMedium','DungGeunMo', 'Noto Sans KR', 'Montserrat', sans-serif;
  background-color: #202020;
  color: #e0e0e0;
}

a {
  color: #4FC3F7;
  &:visited {
    color: #039BE5;
  }
  &:hover {
    color: #a0c0ff;
  }
}
h1 {
  color: yellow; 
}
h2 {
  color: yellowgreen; margin-top: 20px;
}
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #424242;
  background-color: #181818;
}

.site-footer {
  border-top: 1px solid #424242;
  background-color: #181818;
}

.post-meta {
  color: #909090;
}

.site-title, .site-title:visited {
  color: #e0e0e0;
}

.site-nav .page-link {
  color: #e0e0e0;
}

.footer-col-wrapper {
  color: #909090;
}

.post-link {
  color: #70a0ff;
}

.page-content,
.page-content .post-content,
.page-content .post-content p,
.page-content .post-content li,
.page-content .post-content ul,
.page-content .post-content ol,
.page-content .post-content * {
  font-weight: normal !important;
}

code {
  background-color: #333;  /* 원하는 색상으로 변경 가능 */
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border-color: yellowgreen;
}