/* 25.12.15 블로그용 스타일파일 */

@font-face {
  font-family: 'MaruBuriExtraLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf) format("truetype");
  font-display: swap;
}
body {
  /* font-family: 'DOSGothic', 'DOSIyagiMedium','DungGeunMo', 'Noto Sans KR', 'Montserrat', sans-serif; */
  font-family:  'MaruBuriExtraLight', 'Noto Sans KR', 'Montserrat', sans-serif;
  background-color: #202020;
  color: #e0e0e0;
}

a {
  color: #4FC3F7;
  &:visited {
    color: #039BE5;
  }
  &:hover {
    color: #a0c0ff;
  }
}
h1 {
  color: yellow; 
}
h2 {
  color: yellowgreen; margin-top: 20px;
}
h3 {
  color: #80CBC4;
}
h4 {
  color: #9575CD;
}
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #424242;
  background-color: #181818;
}

.site-footer {
  border-top: 1px solid #424242;
  background-color: #181818;
}

.post-meta {
  color: #909090;
}

.site-title, .site-title:visited {
  color: #e0e0e0;
}

.site-nav .page-link {
  color: #e0e0e0;
}

.footer-col-wrapper {
  color: #909090;
}

.post-link {
  color: #70a0ff;
}

code {
  background-color: #333;  /* 원하는 색상으로 변경 가능 */
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border-color: yellowgreen;
}