---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign sticky_posts = site.posts | where: "sticky", true | sort: "date" | reverse %}

  {% if sticky_posts.size > 0 %}
    <h2 class="post-list-heading">중요</h2>
    <ul class="post-list">
      {% for post in sticky_posts %}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {{ post.content }}
        </li>
      {% endfor %}
    </ul>
    <hr>
  {% endif %}

  <h2 class="post-list-heading">{{ site.title }}</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      {% unless post.sticky %}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {{ post.content }}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>

  {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
        <li><a class="previous" href="{{ paginator.previous_page_path | relative_url }}">{{ paginator.previous_page_number }}</a></li>
        {%- else %}
        <li><span class="previous">{{ site.text_next }}</span></li>
        {%- endif %}
        <li><span class="page_number">{{ paginator.page }}</span></li>
        {%- if paginator.next_page %}
        <li><a class="next" href="{{ paginator.next_page_path | relative_url }}">{{ paginator.next_page_number }}</a></li>
        {%- else %}
        <li><span class="next">{{ site.text_previous }}</span></li>
        {%- endif %}
      </ul>
    </div>
  {% endif %}

</div>